In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reading the Dataset
dataframe = pd.read_csv('adult.csv', header=None, na_values='?')
dataframe.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
# drop rows with missing
dataframe = dataframe.dropna()

In [4]:
# summarize the shape of the dataset
print(dataframe.shape)

(45222, 15)

In [5]:
# Feature and target extraction
X = dataframe.iloc[:,:-1]
y = dataframe.iloc[:,-1]

In [6]:
# Getting all categorical Features
cat_columns= X.select_dtypes(include=['object', 'bool']).columns

In [7]:
# Count of each target class
y.value_counts()

<=50K    34014
>50K     11208
Name: 14, dtype: int64

In [8]:
# Label Encoding of target class
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [9]:
# Encoding of Catergorical Columns of Features
X_encoded = pd.get_dummies(X, columns=cat_columns)

In [10]:
# Splitting the Data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Implementing Models

In [11]:
# Naive Bayes Model

# Importing GaussianNB model
from sklearn.naive_bayes import GaussianNB

# Creating model instance
model = GaussianNB()

# Training the model
model.fit(X_train, y_train)

# Predicting the Result
y_pred = model.predict(X_test)

# Calculating Accuracy
from sklearn.metrics import accuracy_score
print("Accuracy using GNB Model : ",accuracy_score(y_test, y_pred) * 100)

Accuracy using GNB Model :  78.93864013266997

In [12]:
# KNN Model Implementation
from sklearn.neighbors import KNeighborsClassifier

# Creating Model instance
knn = KNeighborsClassifier(n_neighbors = 4)

# Training the model
knn.fit(X_train, y_train)

# Predicting the Result
knn_pred = knn.predict(X_test)

# Accuracy calculation
print("Accuracy using KNN Model : ",accuracy_score(y_test, knn_pred) * 100)

Accuracy using KNN Model :  78.26423438363736

In [13]:
# SVM Model using Non linear Kernel
from sklearn.svm import SVC

# Creating model instance
svc1 = SVC(kernel='rbf')

# Training the model
svc1.fit(X_train, y_train)

# Predicting the result
svc1_pred = svc1.predict(X_test)

# Accuracy Calculation
print("Accuracy using SVM Non Linear Kernel : ",accuracy_score(y_test, svc1_pred) * 100)

Accuracy using SVM Linear Kernel :  78.8391376451078

In [ ]:
# SVM Model implementation

from sklearn.svm import SVC

# Creating model instance
svc = SVC(kernel='linear')

# Training the model
svc.fit(X_train, y_train)

# Predicting the result
svc_pred = svc.predict(X_test)

# Accuracy Calculation
print("Accuracy using SVM Linear Kernel : ",accuracy_score(y_test, svc_pred) * 100)